
@font-face {
  font-family: "DMSerif";
  src: local("MyFont"),
    url(/fonts/DMSerifText-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Inter";
  src: local("MyFont"),
    url(/fonts/Inter-Regular.ttf) format("truetype");
}

:root{
  --lightBG: #F1F3F3;
  --primaryGreen: #0C746E;
  --text: #1E1E1E;
  --box-off-white: #EDF0EF;
  --rephrase: #D1DDFA;
  --delete: #FFDADA;
  --add: #C1E1C1;
  --box-off-white2: #E7ECEC;
  --text-box: #B5D1CF;
  font-family: DMSerif;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


